<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shougao.Audio"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".AudioActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:process=":remote" android:name="MyService">
			<intent-filter>
				<action android:name="com.shougao.Audio.REMOTE_SERVICE"></action>
			</intent-filter>
		</service>

	</application>
</manifest>